@charset "UTF-8";

/* em HTML tudo que for id em CSS  é #
   em HTML tudo que for class em CSS é .  
*/

body{
    background-color: #bcc9db;
    text-align: justify;
}

main{
    background-color: white;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

h1{
    background-color: #1A2942;
    color: white;
    text-align: center;
}

h2{
    background-color: #1d4385;
    background-size: cover;
    color: white;
    text-align: center;
}

.basico{
    color: rgb(57, 134, 64);
    background-color: rgba(65, 128, 71, 0.322);
}

.intermediario{
    color: rgb(138, 136, 55);
    background-color: rgba(138, 137, 55, 0.253);
}

.avancado{
    color: rgb(151, 67, 67);
    background-color: rgba(151, 67, 67, 0.185);
}

